.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;

  &--grey {
    background: #C9D1D3;
  }

  &--lime {
    background: #B6E6BD;
  }

  &--purple {
    background: #C355F5;
  }

  &--black {
    background: #08001A;
  }

  &--green {
    background-color: #42b883;
  }

  &--blue {
    background-color: #64c4ed;
  }

  &--pink {
    background-color: #ffbbcc;
  }
}